body,
div,
section,
a,
span,
p,
button,
input {
	font-family: Tahoma;
	line-height: 1;
	box-sizing: border-box;
	font-size: 20px;
	font-weight: 900;
}

button {
	cursor: pointer;
}

#container {
	width: 275px;
	margin: 50px auto;
	padding: 10px;
	background: #eeeeee;
	border: 1px solid #e0e0e0;
}
